In [264]:
import pandas as pd
import lightgbm as lgb
import numpy as np
import category_encoders as ce
from tqdm import tqdm

In [379]:
# calculate the smape
def compute_smape(y_true, y_pred):

    if not (isinstance(y_true, np.ndarray) and isinstance(y_pred, np.ndarray)):
        y_true, y_pred = np.array(y_true), np.array(y_pred)

    return round(np.mean(
        np.abs(y_pred - y_true) /
        ((np.abs(y_pred) + np.abs(y_true))/2)
    )*100, 3)

In [380]:
train_data = pd.read_csv('../../data/godaddy-microbusiness-density-forecasting/train_with_census.csv')
train_data.head()

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active,year,pct_bb,pct_college,pct_foreign_born,pct_it_workers,median_hh_inc
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249,2019-01-01,80.6,16.1,2.3,0.7,58731.0
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198,2019-01-01,80.6,16.1,2.3,0.7,58731.0
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269,2019-01-01,80.6,16.1,2.3,0.7,58731.0
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243,2019-01-01,80.6,16.1,2.3,0.7,58731.0
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243,2019-01-01,80.6,16.1,2.3,0.7,58731.0

In [381]:
train_data['source'] = 'train'
# LOAD submission
submission = pd.read_csv('../../data/godaddy-microbusiness-density-forecasting/test.csv')
submission['source'] = 'test'
data = pd.concat([train_data, submission], axis=0)
data.head()

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active,year,pct_bb,pct_college,pct_foreign_born,pct_it_workers,median_hh_inc,source
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249.0,2019-01-01,80.6,16.1,2.3,0.7,58731.0,train
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198.0,2019-01-01,80.6,16.1,2.3,0.7,58731.0,train
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269.0,2019-01-01,80.6,16.1,2.3,0.7,58731.0,train
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243.0,2019-01-01,80.6,16.1,2.3,0.7,58731.0,train
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243.0,2019-01-01,80.6,16.1,2.3,0.7,58731.0,train

In [382]:
data['cfips_id'] = data['cfips']
data= ce.BaseNEncoder(cols=['cfips'], base=50).fit_transform(data)
data.head()

,row_id,cfips_0,cfips_1,cfips_2,county,state,first_day_of_month,microbusiness_density,active,year,pct_bb,pct_college,pct_foreign_born,pct_it_workers,median_hh_inc,source,cfips_id
0,1001_2019-08-01,0,0,1,Autauga County,Alabama,2019-08-01,3.007682,1249.0,2019-01-01,80.6,16.1,2.3,0.7,58731.0,train,1001
1,1001_2019-09-01,0,0,1,Autauga County,Alabama,2019-09-01,2.884870,1198.0,2019-01-01,80.6,16.1,2.3,0.7,58731.0,train,1001
2,1001_2019-10-01,0,0,1,Autauga County,Alabama,2019-10-01,3.055843,1269.0,2019-01-01,80.6,16.1,2.3,0.7,58731.0,train,1001
3,1001_2019-11-01,0,0,1,Autauga County,Alabama,2019-11-01,2.993233,1243.0,2019-01-01,80.6,16.1,2.3,0.7,58731.0,train,1001
4,1001_2019-12-01,0,0,1,Autauga County,Alabama,2019-12-01,2.993233,1243.0,2019-01-01,80.6,16.1,2.3,0.7,58731.0,train,1001

In [383]:
data.tail()

,row_id,cfips_0,cfips_1,cfips_2,county,state,first_day_of_month,microbusiness_density,active,year,pct_bb,pct_college,pct_foreign_born,pct_it_workers,median_hh_inc,source,cfips_id
25075,56037_2023-06-01,1,12,31,NaN,NaN,2023-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,test,56037
25076,56039_2023-06-01,1,12,32,NaN,NaN,2023-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,test,56039
25077,56041_2023-06-01,1,12,33,NaN,NaN,2023-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,test,56041
25078,56043_2023-06-01,1,12,34,NaN,NaN,2023-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,test,56043
25079,56045_2023-06-01,1,12,35,NaN,NaN,2023-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,test,56045

In [384]:
data['first_day_of_month'] = pd.to_datetime(data['first_day_of_month'])

In [385]:
# create lag
lags = [1, 2,3]

# sort by date
data = data.sort_values('first_day_of_month')

for lag in lags:
    data[f'lag_{lag}'] = data.groupby('cfips_id')['microbusiness_density'].shift(lag)

keep_cols = [ 'cfips_id', 'cfips_0', 'cfips_1', 'cfips_2', 'first_day_of_month', 'microbusiness_density' ] + [f'lag_{lag}' for lag in lags]
data = data[keep_cols]

data.head()

,cfips_id,cfips_0,cfips_1,cfips_2,first_day_of_month,microbusiness_density,lag_1,lag_2,lag_3
0,1001,0,0,1,2019-08-01,3.007682,NaN,NaN,NaN
57564,28155,0,29,27,2019-08-01,0.923942,NaN,NaN,NaN
57525,28153,0,29,26,2019-08-01,0.631922,NaN,NaN,NaN
57486,28151,0,29,25,2019-08-01,1.152354,NaN,NaN,NaN
57447,28149,0,29,24,2019-08-01,2.041158,NaN,NaN,NaN

In [386]:
data = data.set_index('first_day_of_month')

In [387]:
# split into train and test and valid
train = data[data.index < '2022-04-01']
val = data[(data.index >= '2022-04-01') & (data.index < '2022-11-01')]
test = data[data.index >= '2022-11-01']

In [388]:
train = train.dropna()

In [389]:
val

,cfips_id,cfips_0,cfips_1,cfips_2,microbusiness_density,lag_1,lag_2,lag_3
first_day_of_month,,,,,,,,
2022-04-01,38051,0,40,13,1.666667,1.619048,1.619048,1.666667
2022-04-01,21095,0,20,39,0.769041,0.788760,0.833128,0.842987
2022-04-01,38069,0,40,22,1.806084,1.837769,1.837769,1.806084
2022-04-01,48273,1,3,6,1.170900,1.170900,1.153681,1.140766
2022-04-01,18117,0,15,4,2.449358,2.455978,2.416258,2.403019
...,...,...,...,...,...,...,...,...
2022-10-01,27047,0,26,36,2.501682,2.526909,2.522704,2.526909
2022-10-01,48391,1,4,15,2.023765,2.023765,1.986632,2.005199
2022-10-01,27043,0,26,34,2.318190,2.299495,2.327538,2.346233
2022-10-01,27041,0,26,33,6.084878,6.071416,6.054589,5.994009
2022-10-01,27039,0,26,32,2.506184,2.506184,2.493165,2.525713

In [618]:
params = {
    'task': 'train',
    'boosting': 'gbdt',
    'objective': 'regression',
    'num_leaves': 30,
    'n_estimators' : 1000,
    'max_depth': 4,
    'learning_rate': 0.085,
    'reg_alpha' : 1,
    'reg_lambda' : 0.1,
    'metric': {'l2','l1'},
    'verbose': -1
}

In [619]:
cols_to_drop = ['cfips_id', 'microbusiness_density']

train_x = train.drop(columns=cols_to_drop, axis=1)
train_y = train['microbusiness_density']

val_x = val.drop(columns=cols_to_drop, axis=1)
val_y = val['microbusiness_density']


lgb_train = lgb.Dataset(train_x, train_y)
lgb_eval = lgb.Dataset(val_x, val_y, reference=lgb_train)

In [620]:
model = lgb.train(params,
                  train_set=lgb_train,
                  valid_sets=lgb_eval,
                  early_stopping_rounds=50)

C:\Users\avomo\AppData\Roaming\Python\Python39\site-packages\lightgbm\engine.py:177: UserWarning: Found `n_estimators` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")
C:\Users\avomo\AppData\Roaming\Python\Python39\site-packages\lightgbm\engine.py:181: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "

[1]	valid_0's l1: 2.31131	valid_0's l2: 27.5625
Training until validation scores don't improve for 50 rounds
[2]	valid_0's l1: 2.12152	valid_0's l2: 24.2191
[3]	valid_0's l1: 1.94559	valid_0's l2: 21.3729
[4]	valid_0's l1: 1.78641	valid_0's l2: 19.0132
[5]	valid_0's l1: 1.63914	valid_0's l2: 16.9432
[6]	valid_0's l1: 1.50609	valid_0's l2: 15.2058
[7]	valid_0's l1: 1.38473	valid_0's l2: 13.7557
[8]	valid_0's l1: 1.27219	valid_0's l2: 12.5246
[9]	valid_0's l1: 1.16947	valid_0's l2: 11.5139
[10]	valid_0's l1: 1.07484	valid_0's l2: 10.6408
[11]	valid_0's l1: 0.988932	valid_0's l2: 9.93038
[12]	valid_0's l1: 0.910749	valid_0's l2: 9.25887
[13]	valid_0's l1: 0.840015	valid_0's l2: 8.70383
[14]	valid_0's l1: 0.776482	valid_0's l2: 8.28796
[15]	valid_0's l1: 0.717464	valid_0's l2: 7.89195
[16]	valid_0's l1: 0.665549	valid_0's l2: 7.60267
[17]	valid_0's l1: 0.61703	valid_0's l2: 7.29507
[18]	valid_0's l1: 0.572683	valid_0's l2: 7.0683
[19]	valid_0's l1: 0.531538	valid_0's l2: 6.86672
[20]	valid_0's l1: 0.496405	valid_0's l2: 6.7227
[21]	valid_0's l1: 0.462482	valid_0's l2: 6.5516
[22]	valid_0's l1: 0.431724	valid_0's l2: 6.43574
[23]	valid_0's l1: 0.403987	valid_0's l2: 6.33934
[24]	valid_0's l1: 0.378882	valid_0's l2: 6.2592
[25]	valid_0's l1: 0.35518	valid_0's l2: 6.14032
[26]	valid_0's l1: 0.334023	valid_0's l2: 5.96324
[27]	valid_0's l1: 0.314683	valid_0's l2: 5.80612
[28]	valid_0's l1: 0.298447	valid_0's l2: 5.77542
[29]	valid_0's l1: 0.283108	valid_0's l2: 5.73519
[30]	valid_0's l1: 0.269425	valid_0's l2: 5.70695
[31]	valid_0's l1: 0.255901	valid_0's l2: 5.64024
[32]	valid_0's l1: 0.244078	valid_0's l2: 5.5203
[33]	valid_0's l1: 0.233077	valid_0's l2: 5.4694
[34]	valid_0's l1: 0.223491	valid_0's l2: 5.36657
[35]	valid_0's l1: 0.216262	valid_0's l2: 5.37385
[36]	valid_0's l1: 0.209427	valid_0's l2: 5.37769
[37]	valid_0's l1: 0.202973	valid_0's l2: 5.36956
[38]	valid_0's l1: 0.196507	valid_0's l2: 5.36397
[39]	valid_0's l1: 0.191013	valid_0's l2: 5.36762
[40]	valid_0's l1: 0.186831	valid_0's l2: 5.38026
[41]	valid_0's l1: 0.182938	valid_0's l2: 5.38765
[42]	valid_0's l1: 0.179725	valid_0's l2: 5.39636
[43]	valid_0's l1: 0.176183	valid_0's l2: 5.39234
[44]	valid_0's l1: 0.172672	valid_0's l2: 5.33573
[45]	valid_0's l1: 0.170401	valid_0's l2: 5.33343
[46]	valid_0's l1: 0.167677	valid_0's l2: 5.25863
[47]	valid_0's l1: 0.165886	valid_0's l2: 5.24995
[48]	valid_0's l1: 0.164091	valid_0's l2: 5.24938
[49]	valid_0's l1: 0.161959	valid_0's l2: 5.20075
[50]	valid_0's l1: 0.160975	valid_0's l2: 5.20396
[51]	valid_0's l1: 0.1599	valid_0's l2: 5.20984
[52]	valid_0's l1: 0.158095	valid_0's l2: 5.16718
[53]	valid_0's l1: 0.157292	valid_0's l2: 5.17416
[54]	valid_0's l1: 0.155888	valid_0's l2: 5.16428
[55]	valid_0's l1: 0.154334	valid_0's l2: 5.1251
[56]	valid_0's l1: 0.153666	valid_0's l2: 5.13365
[57]	valid_0's l1: 0.152339	valid_0's l2: 5.09879
[58]	valid_0's l1: 0.152077	valid_0's l2: 5.08605
[59]	valid_0's l1: 0.151021	valid_0's l2: 5.07933
[60]	valid_0's l1: 0.150606	valid_0's l2: 5.08815
[61]	valid_0's l1: 0.149619	valid_0's l2: 5.05697
[62]	valid_0's l1: 0.149282	valid_0's l2: 5.06609
[63]	valid_0's l1: 0.148525	valid_0's l2: 5.00592
[64]	valid_0's l1: 0.147957	valid_0's l2: 4.95262
[65]	valid_0's l1: 0.147161	valid_0's l2: 4.92494
[66]	valid_0's l1: 0.146535	valid_0's l2: 4.8746
[67]	valid_0's l1: 0.145825	valid_0's l2: 4.8281
[68]	valid_0's l1: 0.145396	valid_0's l2: 4.82675
[69]	valid_0's l1: 0.145103	valid_0's l2: 4.82898
[70]	valid_0's l1: 0.144642	valid_0's l2: 4.82894
[71]	valid_0's l1: 0.144319	valid_0's l2: 4.82979
[72]	valid_0's l1: 0.14439	valid_0's l2: 4.83207
[73]	valid_0's l1: 0.143803	valid_0's l2: 4.83339
[74]	valid_0's l1: 0.143568	valid_0's l2: 4.83047
[75]	valid_0's l1: 0.143661	valid_0's l2: 4.83346
[76]	valid_0's l1: 0.143588	valid_0's l2: 4.83275
[77]	valid_0's l1: 0.143079	valid_0's l2: 4.80787
[78]	valid_0's l1: 0.142712	valid_0's l2: 4.80247
[79]	valid_0's l1: 0.142286	valid_0's l2: 4.80228
[80]	valid_0's l1: 0.142325	valid_0's l2: 4.79955
[81]	valid_0's l1: 0.142257	valid_0's l2: 4.79764
[82]	valid_0's l1: 0.141753	valid_0's l2: 4.76362
[83]	valid_0's l1: 0.141908	valid_0's l2: 4.76774
[84]	valid_0's l1: 0.14153	valid_0's l2: 4.73864
[85]	valid_0's l1: 0.141749	valid_0's l2: 4.74008
[86]	valid_0's l1: 0.141477	valid_0's l2: 4.71912
[87]	valid_0's l1: 0.141058	valid_0's l2: 4.69306
[88]	valid_0's l1: 0.141205	valid_0's l2: 4.69483
[89]	valid_0's l1: 0.140824	valid_0's l2: 4.67211
[90]	valid_0's l1: 0.141052	valid_0's l2: 4.67495
[91]	valid_0's l1: 0.14083	valid_0's l2: 4.65599
[92]	valid_0's l1: 0.140501	valid_0's l2: 4.63632
[93]	valid_0's l1: 0.140595	valid_0's l2: 4.63821
[94]	valid_0's l1: 0.140403	valid_0's l2: 4.6215
[95]	valid_0's l1: 0.139722	valid_0's l2: 4.60472
[96]	valid_0's l1: 0.139782	valid_0's l2: 4.60667
[97]	valid_0's l1: 0.139192	valid_0's l2: 4.59227
[98]	valid_0's l1: 0.139414	valid_0's l2: 4.59706
[99]	valid_0's l1: 0.139587	valid_0's l2: 4.60014
[100]	valid_0's l1: 0.139333	valid_0's l2: 4.58725
[101]	valid_0's l1: 0.138838	valid_0's l2: 4.57538
[102]	valid_0's l1: 0.138987	valid_0's l2: 4.57881
[103]	valid_0's l1: 0.138995	valid_0's l2: 4.58082
[104]	valid_0's l1: 0.138528	valid_0's l2: 4.57031
[105]	valid_0's l1: 0.138618	valid_0's l2: 4.57265
[106]	valid_0's l1: 0.138174	valid_0's l2: 4.56318
[107]	valid_0's l1: 0.13812	valid_0's l2: 4.56457
[108]	valid_0's l1: 0.137741	valid_0's l2: 4.55626
[109]	valid_0's l1: 0.137828	valid_0's l2: 4.55941
[110]	valid_0's l1: 0.137521	valid_0's l2: 4.55991
[111]	valid_0's l1: 0.137522	valid_0's l2: 4.56188
[112]	valid_0's l1: 0.137528	valid_0's l2: 4.56111
[113]	valid_0's l1: 0.137153	valid_0's l2: 4.55389
[114]	valid_0's l1: 0.137158	valid_0's l2: 4.55794
[115]	valid_0's l1: 0.137109	valid_0's l2: 4.55925
[116]	valid_0's l1: 0.136825	valid_0's l2: 4.55626
[117]	valid_0's l1: 0.136656	valid_0's l2: 4.53829
[118]	valid_0's l1: 0.136753	valid_0's l2: 4.54174
[119]	valid_0's l1: 0.136839	valid_0's l2: 4.53467
[120]	valid_0's l1: 0.136792	valid_0's l2: 4.53602
[121]	valid_0's l1: 0.136582	valid_0's l2: 4.53445
[122]	valid_0's l1: 0.136465	valid_0's l2: 4.53235
[123]	valid_0's l1: 0.136322	valid_0's l2: 4.53126
[124]	valid_0's l1: 0.136226	valid_0's l2: 4.53184
[125]	valid_0's l1: 0.135938	valid_0's l2: 4.51675
[126]	valid_0's l1: 0.135772	valid_0's l2: 4.51118
[127]	valid_0's l1: 0.135679	valid_0's l2: 4.49855
[128]	valid_0's l1: 0.135762	valid_0's l2: 4.50181
[129]	valid_0's l1: 0.135753	valid_0's l2: 4.50534
[130]	valid_0's l1: 0.13579	valid_0's l2: 4.51655
[131]	valid_0's l1: 0.135589	valid_0's l2: 4.51854
[132]	valid_0's l1: 0.135619	valid_0's l2: 4.51967
[133]	valid_0's l1: 0.135628	valid_0's l2: 4.52573
[134]	valid_0's l1: 0.135514	valid_0's l2: 4.52456
[135]	valid_0's l1: 0.13546	valid_0's l2: 4.52388
[136]	valid_0's l1: 0.135274	valid_0's l2: 4.52484
[137]	valid_0's l1: 0.135193	valid_0's l2: 4.52394
[138]	valid_0's l1: 0.135013	valid_0's l2: 4.52066
[139]	valid_0's l1: 0.13501	valid_0's l2: 4.52061
[140]	valid_0's l1: 0.134908	valid_0's l2: 4.5095
[141]	valid_0's l1: 0.134874	valid_0's l2: 4.51029
[142]	valid_0's l1: 0.134719	valid_0's l2: 4.50565
[143]	valid_0's l1: 0.134652	valid_0's l2: 4.50574
[144]	valid_0's l1: 0.134559	valid_0's l2: 4.50627
[145]	valid_0's l1: 0.134356	valid_0's l2: 4.50186
[146]	valid_0's l1: 0.134244	valid_0's l2: 4.50232
[147]	valid_0's l1: 0.134047	valid_0's l2: 4.50394
[148]	valid_0's l1: 0.134011	valid_0's l2: 4.50337
[149]	valid_0's l1: 0.134003	valid_0's l2: 4.50613
[150]	valid_0's l1: 0.134001	valid_0's l2: 4.50602
[151]	valid_0's l1: 0.134076	valid_0's l2: 4.50662
[152]	valid_0's l1: 0.134022	valid_0's l2: 4.50561
[153]	valid_0's l1: 0.133929	valid_0's l2: 4.5059
[154]	valid_0's l1: 0.133961	valid_0's l2: 4.50821
[155]	valid_0's l1: 0.133825	valid_0's l2: 4.50593
[156]	valid_0's l1: 0.133648	valid_0's l2: 4.50601
[157]	valid_0's l1: 0.133455	valid_0's l2: 4.50726
[158]	valid_0's l1: 0.133483	valid_0's l2: 4.50794
[159]	valid_0's l1: 0.133445	valid_0's l2: 4.50853
[160]	valid_0's l1: 0.13334	valid_0's l2: 4.50593
[161]	valid_0's l1: 0.133269	valid_0's l2: 4.49643
[162]	valid_0's l1: 0.13333	valid_0's l2: 4.49681
[163]	valid_0's l1: 0.13338	valid_0's l2: 4.50596
[164]	valid_0's l1: 0.133321	valid_0's l2: 4.50676
[165]	valid_0's l1: 0.133258	valid_0's l2: 4.50856
[166]	valid_0's l1: 0.133218	valid_0's l2: 4.50771
[167]	valid_0's l1: 0.133165	valid_0's l2: 4.50887
[168]	valid_0's l1: 0.133078	valid_0's l2: 4.50523
[169]	valid_0's l1: 0.133032	valid_0's l2: 4.50611
[170]	valid_0's l1: 0.133024	valid_0's l2: 4.50596
[171]	valid_0's l1: 0.132988	valid_0's l2: 4.50522
[172]	valid_0's l1: 0.132984	valid_0's l2: 4.50638
[173]	valid_0's l1: 0.133008	valid_0's l2: 4.49856
[174]	valid_0's l1: 0.132936	valid_0's l2: 4.49745
[175]	valid_0's l1: 0.132899	valid_0's l2: 4.49785
[176]	valid_0's l1: 0.13296	valid_0's l2: 4.49817
[177]	valid_0's l1: 0.133015	valid_0's l2: 4.49868
[178]	valid_0's l1: 0.132917	valid_0's l2: 4.49668
[179]	valid_0's l1: 0.132988	valid_0's l2: 4.49037
[180]	valid_0's l1: 0.133033	valid_0's l2: 4.49168
[181]	valid_0's l1: 0.133017	valid_0's l2: 4.4954
[182]	valid_0's l1: 0.133059	valid_0's l2: 4.49667
[183]	valid_0's l1: 0.133063	valid_0's l2: 4.49806
[184]	valid_0's l1: 0.133136	valid_0's l2: 4.4948
[185]	valid_0's l1: 0.133024	valid_0's l2: 4.49547
[186]	valid_0's l1: 0.132875	valid_0's l2: 4.49618
[187]	valid_0's l1: 0.132775	valid_0's l2: 4.49218
[188]	valid_0's l1: 0.132634	valid_0's l2: 4.49164
[189]	valid_0's l1: 0.132565	valid_0's l2: 4.49225
[190]	valid_0's l1: 0.132502	valid_0's l2: 4.49156
[191]	valid_0's l1: 0.132439	valid_0's l2: 4.49097
[192]	valid_0's l1: 0.132403	valid_0's l2: 4.49042
[193]	valid_0's l1: 0.132365	valid_0's l2: 4.48992
[194]	valid_0's l1: 0.132297	valid_0's l2: 4.48822
[195]	valid_0's l1: 0.132197	valid_0's l2: 4.48985
[196]	valid_0's l1: 0.13208	valid_0's l2: 4.4846
[197]	valid_0's l1: 0.132036	valid_0's l2: 4.48319
[198]	valid_0's l1: 0.132058	valid_0's l2: 4.48313
[199]	valid_0's l1: 0.132009	valid_0's l2: 4.48299
[200]	valid_0's l1: 0.131945	valid_0's l2: 4.47785
[201]	valid_0's l1: 0.131864	valid_0's l2: 4.47811
[202]	valid_0's l1: 0.131842	valid_0's l2: 4.47932
[203]	valid_0's l1: 0.131761	valid_0's l2: 4.4791
[204]	valid_0's l1: 0.131678	valid_0's l2: 4.47816
[205]	valid_0's l1: 0.131599	valid_0's l2: 4.48005
[206]	valid_0's l1: 0.13148	valid_0's l2: 4.47987
[207]	valid_0's l1: 0.131341	valid_0's l2: 4.48223
[208]	valid_0's l1: 0.131335	valid_0's l2: 4.48346
[209]	valid_0's l1: 0.131357	valid_0's l2: 4.4832
[210]	valid_0's l1: 0.131269	valid_0's l2: 4.47954
[211]	valid_0's l1: 0.131228	valid_0's l2: 4.48166
[212]	valid_0's l1: 0.131146	valid_0's l2: 4.48341
[213]	valid_0's l1: 0.131133	valid_0's l2: 4.48392
[214]	valid_0's l1: 0.131034	valid_0's l2: 4.48377
[215]	valid_0's l1: 0.131003	valid_0's l2: 4.4832
[216]	valid_0's l1: 0.130996	valid_0's l2: 4.48349
[217]	valid_0's l1: 0.130952	valid_0's l2: 4.48843
[218]	valid_0's l1: 0.130982	valid_0's l2: 4.48871
[219]	valid_0's l1: 0.13097	valid_0's l2: 4.48769
[220]	valid_0's l1: 0.130934	valid_0's l2: 4.48698
[221]	valid_0's l1: 0.130923	valid_0's l2: 4.48754
[222]	valid_0's l1: 0.130891	valid_0's l2: 4.48687
[223]	valid_0's l1: 0.130809	valid_0's l2: 4.48298
[224]	valid_0's l1: 0.130711	valid_0's l2: 4.48303
[225]	valid_0's l1: 0.130733	valid_0's l2: 4.48605
[226]	valid_0's l1: 0.130698	valid_0's l2: 4.48507
[227]	valid_0's l1: 0.130702	valid_0's l2: 4.4842
[228]	valid_0's l1: 0.130744	valid_0's l2: 4.48446
[229]	valid_0's l1: 0.130692	valid_0's l2: 4.48077
[230]	valid_0's l1: 0.13068	valid_0's l2: 4.48043
[231]	valid_0's l1: 0.130632	valid_0's l2: 4.47966
[232]	valid_0's l1: 0.130589	valid_0's l2: 4.47895
[233]	valid_0's l1: 0.13072	valid_0's l2: 4.47827
[234]	valid_0's l1: 0.130732	valid_0's l2: 4.47796
[235]	valid_0's l1: 0.130686	valid_0's l2: 4.47942
[236]	valid_0's l1: 0.130692	valid_0's l2: 4.47936
[237]	valid_0's l1: 0.130674	valid_0's l2: 4.47861
[238]	valid_0's l1: 0.130648	valid_0's l2: 4.47546
[239]	valid_0's l1: 0.130546	valid_0's l2: 4.47631
[240]	valid_0's l1: 0.130446	valid_0's l2: 4.4752
[241]	valid_0's l1: 0.130507	valid_0's l2: 4.4714
[242]	valid_0's l1: 0.130532	valid_0's l2: 4.47214
[243]	valid_0's l1: 0.130512	valid_0's l2: 4.47128
[244]	valid_0's l1: 0.130487	valid_0's l2: 4.47104
[245]	valid_0's l1: 0.130474	valid_0's l2: 4.47152
[246]	valid_0's l1: 0.130476	valid_0's l2: 4.47187
[247]	valid_0's l1: 0.130464	valid_0's l2: 4.47214
[248]	valid_0's l1: 0.130467	valid_0's l2: 4.47235
[249]	valid_0's l1: 0.130361	valid_0's l2: 4.46513
[250]	valid_0's l1: 0.130362	valid_0's l2: 4.46539
[251]	valid_0's l1: 0.130327	valid_0's l2: 4.45981
[252]	valid_0's l1: 0.130256	valid_0's l2: 4.45934
[253]	valid_0's l1: 0.130208	valid_0's l2: 4.45873
[254]	valid_0's l1: 0.130142	valid_0's l2: 4.4586
[255]	valid_0's l1: 0.13003	valid_0's l2: 4.45896
[256]	valid_0's l1: 0.130024	valid_0's l2: 4.45915
[257]	valid_0's l1: 0.129988	valid_0's l2: 4.45578
[258]	valid_0's l1: 0.129899	valid_0's l2: 4.45824
[259]	valid_0's l1: 0.129863	valid_0's l2: 4.46059
[260]	valid_0's l1: 0.129869	valid_0's l2: 4.4616
[261]	valid_0's l1: 0.129877	valid_0's l2: 4.46179
[262]	valid_0's l1: 0.129849	valid_0's l2: 4.46052
[263]	valid_0's l1: 0.129854	valid_0's l2: 4.46138
[264]	valid_0's l1: 0.129811	valid_0's l2: 4.46175
[265]	valid_0's l1: 0.129773	valid_0's l2: 4.46058
[266]	valid_0's l1: 0.129746	valid_0's l2: 4.46122
[267]	valid_0's l1: 0.129727	valid_0's l2: 4.46005
[268]	valid_0's l1: 0.129724	valid_0's l2: 4.46009
[269]	valid_0's l1: 0.129674	valid_0's l2: 4.46016
[270]	valid_0's l1: 0.129682	valid_0's l2: 4.4616
[271]	valid_0's l1: 0.129615	valid_0's l2: 4.46198
[272]	valid_0's l1: 0.12978	valid_0's l2: 4.46224
[273]	valid_0's l1: 0.129786	valid_0's l2: 4.4623
[274]	valid_0's l1: 0.129792	valid_0's l2: 4.46236
[275]	valid_0's l1: 0.12979	valid_0's l2: 4.46347
[276]	valid_0's l1: 0.129768	valid_0's l2: 4.4635
[277]	valid_0's l1: 0.129644	valid_0's l2: 4.46033
[278]	valid_0's l1: 0.129648	valid_0's l2: 4.46135
[279]	valid_0's l1: 0.129672	valid_0's l2: 4.46198
[280]	valid_0's l1: 0.129654	valid_0's l2: 4.46155
[281]	valid_0's l1: 0.129655	valid_0's l2: 4.46249
[282]	valid_0's l1: 0.129644	valid_0's l2: 4.46237
[283]	valid_0's l1: 0.129643	valid_0's l2: 4.46123
[284]	valid_0's l1: 0.129626	valid_0's l2: 4.46106
[285]	valid_0's l1: 0.129615	valid_0's l2: 4.46095
[286]	valid_0's l1: 0.129652	valid_0's l2: 4.46148
[287]	valid_0's l1: 0.129688	valid_0's l2: 4.46234
[288]	valid_0's l1: 0.129674	valid_0's l2: 4.46201
[289]	valid_0's l1: 0.12966	valid_0's l2: 4.46199
[290]	valid_0's l1: 0.129676	valid_0's l2: 4.46101
[291]	valid_0's l1: 0.129719	valid_0's l2: 4.46218
[292]	valid_0's l1: 0.12967	valid_0's l2: 4.46142
[293]	valid_0's l1: 0.129623	valid_0's l2: 4.46105
[294]	valid_0's l1: 0.129606	valid_0's l2: 4.46072
[295]	valid_0's l1: 0.129649	valid_0's l2: 4.46182
[296]	valid_0's l1: 0.129601	valid_0's l2: 4.46197
[297]	valid_0's l1: 0.12958	valid_0's l2: 4.46185
[298]	valid_0's l1: 0.129576	valid_0's l2: 4.46227
[299]	valid_0's l1: 0.129535	valid_0's l2: 4.46205
[300]	valid_0's l1: 0.129567	valid_0's l2: 4.4631
[301]	valid_0's l1: 0.12953	valid_0's l2: 4.45981
[302]	valid_0's l1: 0.129455	valid_0's l2: 4.45938
[303]	valid_0's l1: 0.129394	valid_0's l2: 4.45743
[304]	valid_0's l1: 0.129441	valid_0's l2: 4.45845
[305]	valid_0's l1: 0.129399	valid_0's l2: 4.45827
[306]	valid_0's l1: 0.129366	valid_0's l2: 4.45543
[307]	valid_0's l1: 0.129412	valid_0's l2: 4.45644
[308]	valid_0's l1: 0.12937	valid_0's l2: 4.45627
[309]	valid_0's l1: 0.129341	valid_0's l2: 4.45606
[310]	valid_0's l1: 0.129312	valid_0's l2: 4.45347
[311]	valid_0's l1: 0.129312	valid_0's l2: 4.45409
[312]	valid_0's l1: 0.12924	valid_0's l2: 4.45447
[313]	valid_0's l1: 0.129264	valid_0's l2: 4.45544
[314]	valid_0's l1: 0.129191	valid_0's l2: 4.45314
[315]	valid_0's l1: 0.129198	valid_0's l2: 4.45357
[316]	valid_0's l1: 0.129181	valid_0's l2: 4.45328
[317]	valid_0's l1: 0.129168	valid_0's l2: 4.45374
[318]	valid_0's l1: 0.129214	valid_0's l2: 4.45451
[319]	valid_0's l1: 0.129191	valid_0's l2: 4.45456
[320]	valid_0's l1: 0.129077	valid_0's l2: 4.45505
[321]	valid_0's l1: 0.129074	valid_0's l2: 4.45566
[322]	valid_0's l1: 0.129202	valid_0's l2: 4.45594
[323]	valid_0's l1: 0.129177	valid_0's l2: 4.45555
[324]	valid_0's l1: 0.129175	valid_0's l2: 4.45559
[325]	valid_0's l1: 0.129118	valid_0's l2: 4.45382
[326]	valid_0's l1: 0.129103	valid_0's l2: 4.45429
[327]	valid_0's l1: 0.129226	valid_0's l2: 4.45553
[328]	valid_0's l1: 0.129236	valid_0's l2: 4.45553
[329]	valid_0's l1: 0.12928	valid_0's l2: 4.4611
[330]	valid_0's l1: 0.129278	valid_0's l2: 4.46114
[331]	valid_0's l1: 0.129276	valid_0's l2: 4.46055
[332]	valid_0's l1: 0.129294	valid_0's l2: 4.46065
[333]	valid_0's l1: 0.129317	valid_0's l2: 4.46115
[334]	valid_0's l1: 0.129269	valid_0's l2: 4.45917
[335]	valid_0's l1: 0.129229	valid_0's l2: 4.45972
[336]	valid_0's l1: 0.129234	valid_0's l2: 4.45968
[337]	valid_0's l1: 0.129239	valid_0's l2: 4.45945
[338]	valid_0's l1: 0.129194	valid_0's l2: 4.45758
[339]	valid_0's l1: 0.129155	valid_0's l2: 4.45836
[340]	valid_0's l1: 0.129147	valid_0's l2: 4.45812
[341]	valid_0's l1: 0.129166	valid_0's l2: 4.45823
[342]	valid_0's l1: 0.129154	valid_0's l2: 4.45818
[343]	valid_0's l1: 0.12914	valid_0's l2: 4.45842
[344]	valid_0's l1: 0.129072	valid_0's l2: 4.45677
[345]	valid_0's l1: 0.12909	valid_0's l2: 4.45719
[346]	valid_0's l1: 0.129088	valid_0's l2: 4.45962
[347]	valid_0's l1: 0.129084	valid_0's l2: 4.45958
[348]	valid_0's l1: 0.129044	valid_0's l2: 4.45904
[349]	valid_0's l1: 0.129081	valid_0's l2: 4.45941
[350]	valid_0's l1: 0.129055	valid_0's l2: 4.45974
[351]	valid_0's l1: 0.12905	valid_0's l2: 4.45893
[352]	valid_0's l1: 0.12904	valid_0's l2: 4.45921
[353]	valid_0's l1: 0.129035	valid_0's l2: 4.45919
[354]	valid_0's l1: 0.129056	valid_0's l2: 4.45838
[355]	valid_0's l1: 0.129049	valid_0's l2: 4.45777
[356]	valid_0's l1: 0.129015	valid_0's l2: 4.45726
[357]	valid_0's l1: 0.128999	valid_0's l2: 4.45792
[358]	valid_0's l1: 0.128929	valid_0's l2: 4.45776
[359]	valid_0's l1: 0.128882	valid_0's l2: 4.45606
[360]	valid_0's l1: 0.12887	valid_0's l2: 4.45611
[361]	valid_0's l1: 0.12883	valid_0's l2: 4.45451
[362]	valid_0's l1: 0.128852	valid_0's l2: 4.45435
[363]	valid_0's l1: 0.12885	valid_0's l2: 4.45436
[364]	valid_0's l1: 0.128844	valid_0's l2: 4.45445
Early stopping, best iteration is:
[314]	valid_0's l1: 0.129191	valid_0's l2: 4.45314

In [621]:
y_pred = model.predict(val_x)
len(y_pred)

21945

In [622]:
compute_smape(val_y, y_pred)

1.907

In [623]:
test_x = test.drop('microbusiness_density', axis=1)
test_x

,cfips_id,cfips_0,cfips_1,cfips_2,lag_1,lag_2,lag_3
first_day_of_month,,,,,,,
2022-11-01,39089,0,41,35,4.009497,4.005045,3.998368
2022-11-01,39101,0,41,41,1.684869,1.669323,1.655719
2022-11-01,39087,0,41,34,2.605215,2.701545,2.742218
2022-11-01,39093,0,41,37,5.651847,5.635672,5.617838
2022-11-01,39095,0,41,38,4.432659,4.413642,4.417264
...,...,...,...,...,...,...,...
2023-06-01,21113,0,20,48,NaN,NaN,NaN
2023-06-01,21115,0,20,49,NaN,NaN,NaN
2023-06-01,21117,0,21,0,NaN,NaN,NaN
2023-06-01,21121,0,21,2,NaN,NaN,NaN
2023-06-01,56045,1,12,35,NaN,NaN,NaN

In [624]:
pred_columns = ['cfips_0', 'cfips_1', 'cfips_2' ] + [f'lag_{lag}' for lag in lags]

pred_columns

['cfips_0', 'cfips_1', 'cfips_2', 'lag_1', 'lag_2', 'lag_3']

In [626]:
tmp_test = test_x.copy()

unique_cfips = test_x['cfips_id'].unique()

for cfips in tqdm(unique_cfips):

    # filter only the cfips
    df = tmp_test[tmp_test['cfips_id'] == cfips]

    predictions = []

    for idx, row in df.iterrows():

        lag_values = [None for _ in range(len(lags))]

        for lag in lags:
            lag_values.append(lag_values[-lag] if lag_values[-lag] else row[f'lag_{lag}'])

        # set the lag columns to lag_values
        feats = [ row['cfips_0'], row['cfips_1'], row['cfips_2'] ] + lag_values[-len(lags):]

        # row.loc[ [f'lag_{lag}' for lag in lags] ] = lag_values
        #
        # feats = row.drop(columns=['cfips_id', 'microbusiness_density'])

        pred = model.predict(np.array(feats).reshape(1, -1))
        predictions.append(pred[0])

    tmp_test.loc[tmp_test['cfips_id'] == cfips, 'microbusiness_density'] = predictions

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3135/3135 [00:08<00:00, 385.29it/s]

In [627]:
tmp_test['microbusiness_density']

first_day_of_month
2022-11-01    3.996077
2022-11-01    1.696443
2022-11-01    2.614943
2022-11-01    5.689543
2022-11-01    4.445980
                ...
2023-06-01    0.275225
2023-06-01    0.277010
2023-06-01    0.267079
2023-06-01    0.267199
2023-06-01    0.258718
Name: microbusiness_density, Length: 25080, dtype: float64

In [239]:
submission['microbusiness_density'] = tmp_test['microbusiness_density']

C:\Users\avomo\AppData\Local\Temp\ipykernel_9460\3579684091.py:1: FutureWarning: reindexing with a non-unique Index is deprecated and will raise in a future version.
  submission['microbusiness_density'] = tmp_test['microbusiness_density']

ValueError: cannot reindex on an axis with duplicate labels

In [628]:
submission

                 row_id  cfips first_day_of_month source
0       1001_2022-11-01   1001         2022-11-01   test
1       1003_2022-11-01   1003         2022-11-01   test
2       1005_2022-11-01   1005         2022-11-01   test
3       1007_2022-11-01   1007         2022-11-01   test
4       1009_2022-11-01   1009         2022-11-01   test
...                 ...    ...                ...    ...
25075  56037_2023-06-01  56037         2023-06-01   test
25076  56039_2023-06-01  56039         2023-06-01   test
25077  56041_2023-06-01  56041         2023-06-01   test
25078  56043_2023-06-01  56043         2023-06-01   test
25079  56045_2023-06-01  56045         2023-06-01   test

[25080 rows x 4 columns]

In [629]:
tmp_df = tmp_test.copy()
tmp_df['first_day_of_month'] = tmp_test.index.astype(str)
tmp_df.index = range(tmp_df.shape[0])
tmp_df['cfips'] = tmp_df['cfips_id']
tmp_df

,cfips_id,cfips_0,cfips_1,cfips_2,lag_1,lag_2,lag_3,microbusiness_density,first_day_of_month,cfips
0,39089,0,41,35,4.009497,4.005045,3.998368,3.996077,2022-11-01,39089
1,39101,0,41,41,1.684869,1.669323,1.655719,1.696443,2022-11-01,39101
2,39087,0,41,34,2.605215,2.701545,2.742218,2.614943,2022-11-01,39087
3,39093,0,41,37,5.651847,5.635672,5.617838,5.689543,2022-11-01,39093
4,39095,0,41,38,4.432659,4.413642,4.417264,4.445980,2022-11-01,39095
...,...,...,...,...,...,...,...,...,...,...
25075,21113,0,20,48,NaN,NaN,NaN,0.275225,2023-06-01,21113
25076,21115,0,20,49,NaN,NaN,NaN,0.277010,2023-06-01,21115
25077,21117,0,21,0,NaN,NaN,NaN,0.267079,2023-06-01,21117
25078,21121,0,21,2,NaN,NaN,NaN,0.267199,2023-06-01,21121
25079,56045,1,12,35,NaN,NaN,NaN,0.258718,2023-06-01,56045

In [630]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25080 entries, 0 to 25079
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   row_id              25080 non-null  object
 1   cfips               25080 non-null  int64
 2   first_day_of_month  25080 non-null  object
 3   source              25080 non-null  object
dtypes: int64(1), object(3)
memory usage: 783.9+ KB

In [631]:
merged = pd.merge(submission,tmp_df, on=['first_day_of_month','cfips'], how='inner')
merged

,row_id,cfips,first_day_of_month,source,cfips_id,cfips_0,cfips_1,cfips_2,lag_1,lag_2,lag_3,microbusiness_density
0,1001_2022-11-01,1001,2022-11-01,test,1001,0,0,1,3.463856,3.442677,3.423852,3.472218
1,1003_2022-11-01,1003,2022-11-01,test,1003,0,0,2,8.359798,8.341701,8.491150,8.284578
2,1005_2022-11-01,1005,2022-11-01,test,1005,0,0,3,1.232074,1.206827,1.196728,1.236840
3,1007_2022-11-01,1007,2022-11-01,test,1007,0,0,4,1.287240,1.315346,1.292861,1.299538
4,1009_2022-11-01,1009,2022-11-01,test,1009,0,0,5,1.831783,1.852060,1.836289,1.841537
...,...,...,...,...,...,...,...,...,...,...,...,...
25075,56037_2023-06-01,56037,2023-06-01,test,56037,1,12,31,NaN,NaN,NaN,0.267463
25076,56039_2023-06-01,56039,2023-06-01,test,56039,1,12,32,NaN,NaN,NaN,0.267463
25077,56041_2023-06-01,56041,2023-06-01,test,56041,1,12,33,NaN,NaN,NaN,0.267463
25078,56043_2023-06-01,56043,2023-06-01,test,56043,1,12,34,NaN,NaN,NaN,0.267463
25079,56045_2023-06-01,56045,2023-06-01,test,56045,1,12,35,NaN,NaN,NaN,0.258718

In [632]:
merged[ ['row_id', 'microbusiness_density'] ].to_csv('submission.csv', index=False)

In [633]:
submission

                 row_id  cfips first_day_of_month source
0       1001_2022-11-01   1001         2022-11-01   test
1       1003_2022-11-01   1003         2022-11-01   test
2       1005_2022-11-01   1005         2022-11-01   test
3       1007_2022-11-01   1007         2022-11-01   test
4       1009_2022-11-01   1009         2022-11-01   test
...                 ...    ...                ...    ...
25075  56037_2023-06-01  56037         2023-06-01   test
25076  56039_2023-06-01  56039         2023-06-01   test
25077  56041_2023-06-01  56041         2023-06-01   test
25078  56043_2023-06-01  56043         2023-06-01   test
25079  56045_2023-06-01  56045         2023-06-01   test

[25080 rows x 4 columns]

In [638]:
t = pd.to_datetime('2022-11-01')

pd.to_numeric(t)

TypeError: Invalid object type at position 0