# Notebook for building a dataset with external data to the competition

In [2]:
import pandas as pd
import os

In [3]:
# some configurations
DATA_FOLDER = '../../data'

## Load Internal data

In [4]:
census = pd.read_csv(os.path.join(f'{DATA_FOLDER}/godaddy-microbusiness-density-forecasting', 'census_starter.csv'))
census.head()

,pct_bb_2017,pct_bb_2018,pct_bb_2019,pct_bb_2020,pct_bb_2021,cfips,pct_college_2017,pct_college_2018,pct_college_2019,pct_college_2020,...,pct_it_workers_2017,pct_it_workers_2018,pct_it_workers_2019,pct_it_workers_2020,pct_it_workers_2021,median_hh_inc_2017,median_hh_inc_2018,median_hh_inc_2019,median_hh_inc_2020,median_hh_inc_2021
0,76.6,78.9,80.6,82.7,85.5,1001,14.5,15.9,16.1,16.7,...,1.3,1.1,0.7,0.6,1.1,55317,58786.0,58731,57982.0,62660.0
1,74.5,78.1,81.8,85.1,87.9,1003,20.4,20.7,21.0,20.2,...,1.4,1.3,1.4,1.0,1.3,52562,55962.0,58320,61756.0,64346.0
2,57.2,60.4,60.5,64.6,64.6,1005,7.6,7.8,7.6,7.3,...,0.5,0.3,0.8,1.1,0.8,33368,34186.0,32525,34990.0,36422.0
3,62.0,66.1,69.2,76.1,74.6,1007,8.1,7.6,6.5,7.4,...,1.2,1.4,1.6,1.7,2.1,43404,45340.0,47542,51721.0,54277.0
4,65.8,68.5,73.0,79.6,81.0,1009,8.7,8.1,8.6,8.9,...,1.3,1.4,0.9,1.1,0.9,47412,48695.0,49358,48922.0,52830.0

In [8]:
microbusiness_density_train = pd.read_csv(os.path.join(f'{DATA_FOLDER}/godaddy-microbusiness-density-forecasting', 'train.csv'))
microbusiness_density_train

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243
...,...,...,...,...,...,...,...
122260,56045_2022-06-01,56045,Weston County,Wyoming,2022-06-01,1.803249,101
122261,56045_2022-07-01,56045,Weston County,Wyoming,2022-07-01,1.803249,101
122262,56045_2022-08-01,56045,Weston County,Wyoming,2022-08-01,1.785395,100
122263,56045_2022-09-01,56045,Weston County,Wyoming,2022-09-01,1.785395,100
122264,56045_2022-10-01,56045,Weston County,Wyoming,2022-10-01,1.785395,100

In [9]:
microbusiness_density_test = pd.read_csv(os.path.join(f'{DATA_FOLDER}/godaddy-microbusiness-density-forecasting', 'test.csv'))
microbusiness_density_test

                 row_id  cfips first_day_of_month
0       1001_2022-11-01   1001         2022-11-01
1       1003_2022-11-01   1003         2022-11-01
2       1005_2022-11-01   1005         2022-11-01
3       1007_2022-11-01   1007         2022-11-01
4       1009_2022-11-01   1009         2022-11-01
...                 ...    ...                ...
25075  56037_2023-06-01  56037         2023-06-01
25076  56039_2023-06-01  56039         2023-06-01
25077  56041_2023-06-01  56041         2023-06-01
25078  56043_2023-06-01  56043         2023-06-01
25079  56045_2023-06-01  56045         2023-06-01

[25080 rows x 3 columns]

In [10]:
microbusiness_density_val = pd.read_csv(os.path.join(f'{DATA_FOLDER}/godaddy-microbusiness-density-forecasting', 'revealed_test.csv'))
microbusiness_density_val

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active
0,1001_2022-11-01,1001,Autauga County,Alabama,2022-11-01,3.442677,1463
1,1001_2022-12-01,1001,Autauga County,Alabama,2022-12-01,3.470915,1475
2,1003_2022-11-01,1003,Baldwin County,Alabama,2022-11-01,8.257636,14145
3,1003_2022-12-01,1003,Baldwin County,Alabama,2022-12-01,8.250630,14133
4,1005_2022-11-01,1005,Barbour County,Alabama,2022-11-01,1.247223,247
...,...,...,...,...,...,...,...
6265,56041_2022-12-01,56041,Uinta County,Wyoming,2022-12-01,4.050703,588
6266,56043_2022-11-01,56043,Washakie County,Wyoming,2022-11-01,3.143093,190
6267,56043_2022-12-01,56043,Washakie County,Wyoming,2022-12-01,3.060380,185
6268,56045_2022-11-01,56045,Weston County,Wyoming,2022-11-01,1.785395,100
6269,56045_2022-12-01,56045,Weston County,Wyoming,2022-12-01,1.803249,101

## Load external data

In [62]:
data_list = []
for file in os.scandir(f'{DATA_FOLDER}/external/employment_select_indicators'):

    df = pd.read_csv(file.path)
    tmp_df = df.transpose()
    tmp_df = tmp_df.reset_index()

    # set the first row as the header
    new_header = tmp_df.iloc[0] #grab the first row for the header
    tmp_df = tmp_df[1:] #take the data less the header row
    tmp_df.columns = new_header

    tmp_df = pd.melt(
        tmp_df,
        id_vars=['Geography'],
        value_vars=[col for col in tmp_df.columns if col != 'Geography'],
        var_name='state',
        value_name=file.name.replace('.csv', '')
    )

    tmp_df = tmp_df[(tmp_df['state'] != 'United States') & (tmp_df['Geography'] >= '2017-07-01')]

    data_list.append(tmp_df)

In [65]:
data_list[1]['state']

702      Alabama
703      Alabama
704      Alabama
705      Alabama
706      Alabama
          ...
19963    Wyoming
19964    Wyoming
19965    Wyoming
19966    Wyoming
19967    Wyoming
Name: state, Length: 3366, dtype: object

In [77]:
final_df = data_list[0]
for df in data_list[1:]:
    final_df = final_df.merge(df, on=['Geography', 'state'], how='left')

final_df['state_and_local_public_education_employment_yoy_percent_change'] = final_df['state_and_local_public_education_employment_yoy_percent_change'].ffill()
final_df['Geography'] = pd.to_datetime(final_df['Geography'])

In [76]:
final_df.isna().sum()

Geography                                                         0
state                                                             0
federal_public_employment_yoy_percent_change                      0
leisure_and_hospitality_employment_yoy_percent_change             0
manufacturing_employment_yoy_percent_change                       0
private_employment_yoy_percent_change                             0
public_employment_yoy_percent_change                              0
retail_trade_employment_yoy_percent_change                        0
state_and_local_public_education_employment_yoy_percent_change    0
state_and_local_public_employment_yoy_percent_change              0
total_employment_yoy_percent_change                               0
unemployment_rate_raw                                             0
dtype: int64

In [78]:
final_df.to_csv(os.path.join(f'{DATA_FOLDER}/external', 'employment_select_indicators.csv'), index=False)

### Deotte Data

In [81]:
df_list = []
for file in os.scandir(f'{DATA_FOLDER}/external/deotte'):

    # read only csv files
    if file.name.endswith('.csv'):
        df = pd.read_csv(file.path)
        df_list.append(df)
        print(file.name)

ACSST5Y2017.S0101-Column-Metadata.csv

C:\Users\avomo\AppData\Local\Temp\ipykernel_12804\2369866873.py:6: DtypeWarning: Columns (2,3,6,7,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,30,33,34,35,36,37,38,39,40,41,42,45,46,47,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,82,83,86,89,90,91,94,95,98,99,100,101,102,103,106,107,108,109,110,111,112,113,114,115,116,117,118,121,122,123,126,127,128,129,130,131,134,135,138,139,142,143,158,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,181,182,185,186,187,188,189,190,191,192,193,194,195,198,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,234,235,238,239,242,243,246,249,250,251,252,253,254,255,258,259,260,261,262,263,264,265,266,267,268,269,270,273,274,277,298,301,302,303,306,309,310,313,314,315,316,317,318,319,320,321,322,325,326,327,328,329,330,333,334,335,338,339,340,341,342,343,344,345,346,347,350,351,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,386,389,390,391,394,395,398,401,402,403,404,405,406,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,426,427,430,431,432,433,462,463,466,467,468,469,470,471,472,473,474,477,478,479,480,481,482,483,486,489,490,491,492,493,494,495,496,497,498,499,502,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,537,538,539,542,545,546,547,550,551,554,555,556,557,558,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,578,579,610,611,614,615,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,638,639,642,643,644,645,646,647,648,649,650,653,654,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,689,690,691,694,697,698,701,702,703,706,707,708,709,710,711,714,715,716,717,718,719,720,721,722,723,724,725,726,727,730,733,734,735,736,737,766,767,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,790,793,794,795,796,797,798,799,800,801,802,805,806,807,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,842,843,846,849,850,851,854,855,858,859,860,861,862,863,866,867,868,869,870,871,872,873,874,875,876,877,878,879,882,885) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file.path)

ACSST5Y2017.S0101-Data.csv
ACSST5Y2018.S0101-Column-Metadata.csv

C:\Users\avomo\AppData\Local\Temp\ipykernel_12804\2369866873.py:6: DtypeWarning: Columns (2,5,6,9,10,11,12,13,14,15,16,17,18,21,22,25,26,27,30,33,34,35,36,37,38,39,40,41,42,45,46,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,81,82,85,86,89,90,93,94,95,98,99,100,101,102,105,106,107,108,109,110,111,112,113,114,115,116,117,118,121,122,125,126,127,128,129,130,133,134,135,138,139,142,145,158,161,166,169,174,175,178,181,182,185,186,187,190,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,237,238,241,242,245,246,247,250,253,254,257,258,261,262,263,266,269,270,273,274,277,278,281,282,285,286,289,290,293,294,297,298,301,302,303,306,309,310,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,357,358,361,362,365,366,369,370,373,374,377,378,381,382,385,386,389,390,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,537,538,541,542,545,546,547,550,553,554,555,558,561,562,565,566,569,570,573,574,577,578,581,582,585,586,589,590,593,594,597,598,601,602,605,606,609,610,613,614,615,618,621,622,625,626,629,630,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,657,658,659,662,663,666,667,670,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,737,738,741,742,745,746,747,750,751,754,757,758,761,762,763,766,767,770,771,778,779,780,781,786,787,788,789,874,875,894,897) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file.path)

ACSST5Y2018.S0101-Data.csv
ACSST5Y2019.S0101-Column-Metadata.csv

C:\Users\avomo\AppData\Local\Temp\ipykernel_12804\2369866873.py:6: DtypeWarning: Columns (2,5,6,9,10,11,12,13,14,15,16,17,18,21,22,25,26,27,30,31,34,35,36,37,38,39,40,41,42,45,46,47,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,81,82,83,86,87,90,93,94,95,98,99,100,101,102,103,106,107,108,109,110,111,112,113,114,115,116,117,118,121,122,123,126,127,128,129,130,131,134,135,138,139,142,145,158,159,162,163,164,165,166,167,168,169,170,171,174,177,178,179,182,183,186,187,188,189,190,191,192,193,194,197,198,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,234,235,238,241,242,245,246,247,250,251,252,253,254,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,274,275,298,301,302,305,306,307,310,313,314,315,316,317,318,319,320,321,322,323,326,329,330,331,334,335,338,339,340,341,342,343,344,345,346,347,350,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,386,389,390,391,394,397,398,401,402,403,404,405,406,407,410,411,412,413,414,415,416,417,418,419,420,421,422,423,426,429,430,431,432,433,462,465,466,467,468,469,470,471,472,473,474,477,478,481,482,483,486,489,490,491,492,493,494,495,496,497,498,501,502,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,538,541,542,545,546,547,550,553,554,555,556,557,558,559,562,563,564,565,566,567,568,569,570,571,572,573,574,577,578,579,610,611,614,617,618,619,620,621,622,623,624,625,626,629,630,633,634,635,638,641,642,643,644,645,646,647,648,649,650,653,654,655,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,689,690,693,694,695,698,699,702,703,706,707,708,709,710,711,714,715,716,717,718,719,720,721,722,723,724,725,726,729,730,733,734,735,736,737,766,769,770,771,772,773,774,775,776,777,778,781,782,783,786,789,790,791,794,795,796,797,798,799,800,801,802,803,806,807,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,841,842,843,846,847,850,851,854,855,858,859,860,861,862,865,866,867,868,869,870,871,872,873,874,875,876,877,878,881,882,883) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file.path)

ACSST5Y2019.S0101-Data.csv
ACSST5Y2020.S0101-Column-Metadata.csv

C:\Users\avomo\AppData\Local\Temp\ipykernel_12804\2369866873.py:6: DtypeWarning: Columns (2,5,6,7,10,11,12,13,14,15,16,17,18,19,22,23,26,29,30,33,34,35,36,37,38,39,40,41,42,43,46,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,82,83,86,87,90,91,94,97,98,99,100,101,102,103,106,107,108,109,110,111,112,113,114,115,116,117,118,121,122,125,126,127,128,129,130,131,134,135,138,139,142,143,158,159,162,163,164,165,166,167,168,169,170,171,174,177,178,181,182,185,186,187,188,189,190,191,192,193,194,197,198,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,234,235,238,239,242,245,246,249,250,251,252,253,254,257,258,259,260,261,262,263,264,265,266,267,268,269,270,273,274,275,298,301,302,303,306,307,310,311,314,315,316,317,318,319,320,321,322,325,326,329,330,331,334,335,338,339,340,341,342,343,344,345,346,349,350,351,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,385,386,387,390,393,394,395,398,401,402,403,404,405,406,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,426,427,430,431,432,433,462,465,466,467,468,469,470,471,472,473,474,477,478,479,482,483,486,487,490,491,492,493,494,495,496,497,498,501,502,503,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,537,538,539,542,545,546,549,550,551,554,555,556,557,558,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,578,581,610,613,614,617,618,619,620,621,622,623,624,625,626,627,630,631,634,635,638,639,642,643,644,645,646,647,648,649,650,651,654,655,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,689,690,693,694,697,698,699,702,703,706,707,708,709,710,711,714,715,716,717,718,719,720,721,722,723,724,725,726,727,730,733,734,735,736,737,766,767,770,771,772,773,774,775,776,777,778,779,782,783,786,789,790,793,794,795,796,797,798,799,800,801,802,803,806,807,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,842,845,846,847,850,851,854,857,858,859,860,861,862,863,866,867,868,869,870,871,872,873,874,875,876,877,878,881,882,885) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file.path)

ACSST5Y2020.S0101-Data.csv
ACSST5Y2021.S0101-Column-Metadata.csv
ACSST5Y2021.S0101-Data.csv

C:\Users\avomo\AppData\Local\Temp\ipykernel_12804\2369866873.py:6: DtypeWarning: Columns (2,5,6,9,10,11,12,13,14,15,16,17,18,21,22,23,26,29,30,33,34,35,36,37,38,39,40,41,42,45,46,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,82,83,86,87,90,91,94,95,98,99,100,101,102,103,106,107,108,109,110,111,112,113,114,115,116,117,118,119,122,123,126,127,128,129,130,131,134,135,138,139,142,143,158,161,162,163,164,165,166,167,168,169,170,173,174,177,178,181,182,185,186,187,188,189,190,191,192,193,194,197,198,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,234,235,238,239,242,243,246,247,250,251,252,253,254,257,258,259,260,261,262,263,264,265,266,267,268,269,270,273,274,275,298,301,302,303,306,309,310,311,314,315,316,317,318,319,320,321,322,325,326,329,330,333,334,337,338,339,340,341,342,343,344,345,346,349,350,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,386,387,390,391,394,395,398,401,402,403,404,405,406,407,410,411,412,413,414,415,416,417,418,419,420,421,422,423,426,427,430,431,432,433,462,465,466,467,468,469,470,471,472,473,474,477,478,481,482,485,486,489,490,491,492,493,494,495,496,497,498,499,502,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,538,539,542,543,546,549,550,551,554,555,556,557,558,559,562,563,564,565,566,567,568,569,570,571,572,573,574,575,578,579,610,613,614,617,618,619,620,621,622,623,624,625,626,629,630,633,634,637,638,641,642,643,644,645,646,647,648,649,650,653,654,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,689,690,691,694,697,698,699,702,703,706,707,708,709,710,711,714,715,716,717,718,719,720,721,722,723,724,725,726,727,730,733,734,735,736,737,766,769,770,771,772,773,774,775,776,777,778,781,782,785,786,787,790,793,794,795,796,797,798,799,800,801,802,805,806,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,842,843,846,847,850,851,854,855,858,859,860,861,862,863,866,867,868,869,870,871,872,873,874,875,876,877,878,879,882,883) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file.path)

In [84]:
df_list[0]

         Column Name                                              Label
0             GEO_ID                                          Geography
1               NAME                               Geographic Area Name
2     S0101_C01_001E                  Estimate!!Total!!Total population
3    S0101_C01_001EA    Annotation of Estimate!!Total!!Total population
4     S0101_C01_001M       Margin of Error!!Total MOE!!Total population
..               ...                                                ...
909  S0101_C06_037EA  Annotation of Estimate!!Percent Female!!PERCEN...
910   S0101_C06_038E   Estimate!!Percent Female!!PERCENT ALLOCATED!!Age
911  S0101_C06_038EA  Annotation of Estimate!!Percent Female!!PERCEN...
912   S0101_C06_038M  Margin of Error!!Percent Female MOE!!PERCENT A...
913  S0101_C06_038MA  Annotation of Margin of Error!!Percent Female ...

[914 rows x 2 columns]

In [85]:
df_list[1]

,GEO_ID,NAME,S0101_C01_001E,S0101_C01_001EA,S0101_C01_001M,S0101_C01_001MA,S0101_C01_002E,S0101_C01_002EA,S0101_C01_002M,S0101_C01_002MA,...,S0101_C06_036MA,S0101_C06_037E,S0101_C06_037M,S0101_C06_037MA,S0101_C06_037EA,S0101_C06_038E,S0101_C06_038EA,S0101_C06_038M,S0101_C06_038MA,Unnamed: 914
0,Geography,Geographic Area Name,Estimate!!Total!!Total population,Annotation of Estimate!!Total!!Total population,Margin of Error!!Total MOE!!Total population,Annotation of Margin of Error!!Total MOE!!Tota...,Estimate!!Total!!Total population!!AGE!!Under ...,Annotation of Estimate!!Total!!Total populatio...,Margin of Error!!Total MOE!!Total population!!...,Annotation of Margin of Error!!Total MOE!!Tota...,...,Annotation of Margin of Error!!Percent Female ...,Estimate!!Percent Female!!PERCENT ALLOCATED!!Sex,Margin of Error!!Percent Female MOE!!PERCENT A...,Annotation of Margin of Error!!Percent Female ...,Annotation of Estimate!!Percent Female!!PERCEN...,Estimate!!Percent Female!!PERCENT ALLOCATED!!Age,Annotation of Estimate!!Percent Female!!PERCEN...,Margin of Error!!Percent Female MOE!!PERCENT A...,Annotation of Margin of Error!!Percent Female ...,NaN
1,0500000US01001,"Autauga County, Alabama",55036,NaN,*****,*****,3138,NaN,125,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
2,0500000US01003,"Baldwin County, Alabama",203360,NaN,*****,*****,11506,NaN,120,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
3,0500000US01005,"Barbour County, Alabama",26201,NaN,*****,*****,1436,NaN,5,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
4,0500000US01007,"Bibb County, Alabama",22580,NaN,*****,*****,1279,NaN,114,NaN,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,0500000US72145,"Vega Baja Municipio, Puerto Rico",54754,NaN,*****,*****,2743,NaN,*****,*****,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
3217,0500000US72147,"Vieques Municipio, Puerto Rico",8931,NaN,*****,*****,538,NaN,*****,*****,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
3218,0500000US72149,"Villalba Municipio, Puerto Rico",23659,NaN,*****,*****,1334,NaN,*****,*****,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
3219,0500000US72151,"Yabucoa Municipio, Puerto Rico",35025,NaN,*****,*****,1638,NaN,*****,*****,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN
3220,0500000US72153,"Yauco Municipio, Puerto Rico",37585,NaN,*****,*****,1793,NaN,*****,*****,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),NaN